<launch>
  <include file="$(find my_mapping_package)/launch/pointcloud_to_laserscan.launch"/>
  <include file="$(find my_mapping_package)/launch/slam_toolbox.launch"/>
  <include file="$(find my_mapping_package)/launch/rviz.launch"/>
  <node pkg="rosbag" type="play" name="rosbag_play" args="--clock /path/to/your.bag"/>
</launch>
