<launch>
  <!-- Conversione PointCloud2 a LaserScan -->
  <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet pointcloud_to_laserscan_manager">
    <param name="min_height" value="0.1"/>
    <param name="max_height" value="1.0"/>
    <param name="angle_min" value="-1.5708"/>
    <param name="angle_max" value="1.5708"/>
    <param name="range_min" value="0.45"/>
    <param name="range_max" value="10.0"/>
    <param name="scan_time" value="0.033"/>
    <param name="use_inf" value="true"/>
    <param name="input_point_cloud2_topic" value="/ugv/rslidar_points"/>
    <param name="output" value="screen"/>
  </node>

   <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <!-- Use parameter file -->
    <param name="maxUrange" value="5.0"/>
  <param name="maxRange" value="10.0"/>
  <param name="linearUpdate" value="0.5"/>
  <param name="angularUpdate" value="0.436"/>
  <param name="temporalUpdate" value="-1.0"/>
  <param name="resampleThreshold" value="0.5"/>
  <param name="particles" value="30"/>
  <param name="xmin" value="-10.0"/>
  <param name="ymin" value="-10.0"/>
  <param name="xmax" value="10.0"/>
  <param name="ymax" value="10.0"/>
  <param name="delta" value="0.05"/>
  <param name="llsamplerange" value="0.01"/>
  <param name="llsamplestep" value="0.01"/>
  <param name="lasamplerange" value="0.005"/>
  <param name="lasamplestep" value="0.005"/>
    
  </node>

</launch>
