<launch>
  <node name="slam_toolbox" pkg="slam_toolbox" type="sync_slam_toolbox_node" output="screen">
    <param name="use_sim_time" value="true"/>
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_frame" value="map"/>
    <param name="scan_topic" value="/scan"/>
    <param name="mode" value="mapping"/>
    <!-- Aggiungi le dimensioni del robot qui -->
    <param name="robot_length" value="0.5"/> <!-- Lunghezza del robot in metri -->
    <param name="robot_width" value="0.3"/> <!-- Larghezza del robot in metri -->
    <param name="robot_height" value="0.2"/> <!-- Altezza del robot in metri -->
  </node>
</launch>
